.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.Hd {
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*
.HApp {
  display: flex;
  min-width: 220vh;
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(30deg, #f232d9, #dc9b05 );
  flex-direction: row;
  justify-content:center;
  position: fixed;
}*/

.userPROFILE { 
  color: rgb(9, 8, 8);
  margin-left: -45%;
  margin-top: 10px;
  justify-content: center;
  background-color: white;
  height: 200px;
  width: 350px;
  text-align: center;
}


.userProfile {
      display: flex;
      
}

.Logout{
  margin-left: 100%;
  margin-top: 20px;
  color: black;
  justify-content:center;
  border: 1px solid black;

}

.Logout2{
  margin-left: 80%;
  margin-top: -20px;
  color: black;
  justify-content:center;
  border: 1px solid black;

}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 50px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.titlee{
  margin-top: 0px;
  font-family: "Times New Roman", Times, serif;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.div1{
  height: 20%;
  width: 30%;
  margin-left: 750px;
}

.HApp {
  width: 100%;
  height: 625px;
  background-image: linear-gradient(30deg, #f232d9, #dc9b05 );
}

.comments {
  position: absolute;
  bottom: 350px;
  left: 40%;
  transform: translateX(-50%);
  max-height: 100px;
  overflow-y: 'scroll';
  flex-wrap: wrap;
}

.comments h2 {
  text-align: center;
}

.comments ul {
  list-style: decimal;
  padding: 1;
}

.comments li {
  margin-bottom: 10px;
}

.commentInput {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -18%;
  margin-right: 1%;
  margin-top: 0px;
}

.commentInput input {
  margin-right: 10px;
}

.commentInput button {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
}

.backg{
  width: 5%;
  height: 10%;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  margin-top: -60px;
  margin-left: 80px;
  background: white;
}

.insideProf{
  width: 20%;
  height: 20%;
  border: 1px solid black;
  border-radius: 20px;
}

.backg2{
  width: 5%;
  height: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 40px;
  margin-top: -50px;
  margin-left: 80px;
}

.Profcontent{
  width: 500px;
  height: 500px;
  background: white;
  margin-left: -350px;
  margin-top: -60px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.userProf{
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.userProf2{
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-top: 20px;
}
.userProf2:hover{
  opacity: 0.5;
}

.ppage{
  margin-top: 50px;
}

.inputc{
  width: 40%;
}

.buttonc{
  height: 40px;
}

.commentc{
  width: 500px;
  background: wheat;
  margin-left: 125px;
  border: 1px solid black;
}

.myProf{
  background: black;
  width: 50%;
  height: 20%;
  margin-top: 50px;
  margin-left: 300px;
}